/* * {
    background-color: red;
} */


.heading {
    align-content: center;
    
}
.main {
    margin-top: 70px;
    margin-bottom: 20px;
    color: rgb(184, 181, 181);
}

h2 {
    color: rgb(207, 207, 207)
}

h4 {
    color: rgb(236, 231, 231);
    
    
}

p {
    /* border: .5px solid rgb(136, 124, 124); */
    padding: 5px;
    /* border-radius: 10px; */
    /* box-shadow:  5px 5px 10px rgb(0, 0, 0,0.4); */
}

.people {
    background-color: rgb(226, 223, 223);
    border-bottom: 5px solid rgb(22, 18, 18);
    margin-bottom: 10px;
    padding-top: -50px;
    
}

.mainpost {
    margin-bottom: 30px;
}

.mainpost button{
    margin-left: 30px;
    margin-right: 30px;
}

.comments {
    display:none;
    /* visibility: hidden; */
    margin-top: 2px;
    margin-left: 30px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
    color: rgb(255, 255, 255);
}


.commentContent {
    margin-bottom: 10px;
    padding: 3px;
    background-color: rgb(100, 99, 99);
    border: 2px solid rgb(44, 44, 44);
    border-radius: 5px;
}

.postbtn {
    color: rgb(68, 68, 68);
    background-color: rgb(172, 169, 169);
}

.post {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #353434;
}

.btn-outline-primary{
    
    padding: 2px;
    margin-bottom: 4px;
}

.like {
    float: left;
}

.share {
    margin-bottom: 10px;
}

ul {
    padding: 0;
    list-style-type: none;
}
li {
    list-style-type: none;
}

.content {
    align-content: center;
}

.myPost {
    margin-bottom: -20px;
    color: rgb(196, 193, 193);
}


.user {
    padding-left: 10px;
    margin-top: 25px;
}

.shared {
    padding: 1px;
    width: 58px;
    border: .5px dotted rgb(104, 103, 103);
    background-color: rgb(107, 107, 107);
    color: rgb(36, 36, 36);
}

.text-danger {
    padding: 3px;
    border: 1px solid rgb(184, 4, 4);
}

.card {
    background-color: #494949;
    border-radius: 10px;
}

.comment-btn {
    margin-left: -30px;
}

#message {
    background-color: #c5caca;
    border: none;
    color: rgb(105, 104, 104);
}

.comment-in {
    border: none;
    background-color: #343535;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.commentOwner {
    font-size: small;
}

.userpost {
    background-color: rgb(158, 158, 158);
}

li.post.card-body {
    margin-right: 20px;
}