<h1>Hi {{myDetails.firstName}} {{myDetails.lastName}}!</h1>
<form [formGroup]="registerForm1" (ngSubmit)="onPost()">
    <div class="form-group">
    <!-- <input id="message" type="text" formControlName="message" class="form-control" /> -->
    <textarea id="message" type="text" formControlName="message" class="form-control" placeholder="enter your text here" [ngClass]="{ 'is-invalid': submitted && f.message.errors}"></textarea>
    <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
        <div *ngIf="f.message.errors.required">You can't post  empty</div>
    </div>
    </div>
    <div class="form-group" >
        <button class="btn btn-primary">
            Post
        </button>
    </div>
</form>
<br>
<h6>My Posts:</h6>
<ul>
    <div class="mainpost" *ngFor="let user of post">

        <div *ngIf="user.username == myDetails.username">
            
            <p><li class="text-muted post">{{user.message}} </li></p>
            <button class="btn btn-outline-primary" (click)="onLike(user)" >
                <div *ngIf="user.liked==true;else other">
                    <span>Unlike</span>
                </div>
                <ng-template #other> <span>Like</span> </ng-template>
            </button> 
            <button class="btn btn-outline-primary" (click) = "onCommentClick(user)" >Comment</button> 
            <button class="btn btn-outline-primary">Share</button> <br>
            <form [formGroup]="registerForm2" (ngSubmit)="onComment(user._id,myDetails.username)">
                <div class="comments" [ngStyle]="{'display':user.showCommentBox?'block':'none'}">
                    <input id="comment" type="text" formControlName="comment" placeholder="Write your comment here"/> <button class="btn btn-link">Post</button> <br>
                    All Comments:
                    <ul>
                        <div *ngFor="let value of comment">
                            <div class = "commentContent" *ngIf="value.postId == user._id">
                                <li> <h5>{{value.commentowner}}: </h5>{{value.comment}}</li>
                            </div>
                        </div>
                    </ul>
                </div>
            </form>
               
        </div>
        
    </div>
</ul>


<a (click)="deleteUser(myDetails._id)" style="cursor: pointer;" class="text-danger">Remove my account</a>
<br><br>
<h2>All registered users:</h2>
<ul>
    <div *ngFor="let i of user">
        
        <div class="people" *ngIf="i._id != myDetails._id">
            <h4><li>{{i.firstName}} {{i.lastName}}</li></h4>
            <h6>Posts:</h6>
            <ul>
                <div class="mainpost" *ngFor="let j of post">
                    <div *ngIf="i.username == j.username">
                        <p><li class="text-muted post">{{j.message}} </li></p>
                        <button class="btn btn-outline-primary" (click) = "onLike()" >Like</button> <span ></span>
                        <button class="btn btn-outline-primary" (click) = "onCommentClick(j)" >Comment</button> 
                        <button class="btn btn-outline-primary">Share</button> <br>
                        <form [formGroup]="registerForm2" (ngSubmit)="onComment(j._id,myDetails.username)">
                            <div class="comments" [ngStyle]="{'display':j.showCommentBox?'block':'none'}">
                                <input type="text" formControlName="comment" placeholder="Write your comment here"/> <button class="btn btn-link">Post</button> <br>
                                All Comments:
                                <ul> 
                                    <div *ngFor="let value of comment">
                                        <div class = "commentContent" *ngIf="value.postId == j._id">
                                            <li> <b>{{value.commentowner}}</b>: {{value.comment}}</li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </ul>
        </div>
        
    </div>
</ul>