h1 {
    color: black;
}

h2 {
    color: rgb(48, 47, 47)
}

h4 {
    color: rgb(71, 68, 68);
    
    
}

p {
    border: .5px solid rgb(136, 124, 124);
    padding: 5px;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgb(0, 0, 0,0.4);
}

.people {
    border-bottom: 5px solid rgb(22, 18, 18);
    margin-bottom: 20px;
}

.mainpost {
    margin-bottom: 30px;
}

.mainpost button{
    margin-left: 10px;
    margin-right: 10px;
}

.comments {
    display:none;
    /* visibility: hidden; */
    margin-top: 2px;
    /* margin-bottom: 20px; */
}


.commentContent {
    margin-bottom: 20px;
}

.postbtn {
    color: rgb(68, 68, 68);
    background-color: rgb(172, 169, 169);
}

.post {
    padding: 10px;
    margin-left: 20px;
}

.btn-outline-primary{
    padding: 2px;
}